button{
	border: 4px solid white;
	background: #41AAF1;
	color:#ffffff;
	padding: 10px 15px;
	display: inline-block;
	font-size: 25px;
	font-weight: 300;
	margin-right: 10px;
	i.fa-arrow-circle-down{
			color:#ffffff;
			font-size: 30px;
			padding-left: 10px;
	}
}

button:hover{
	background: rgba(31, 48, 63, 0.3);
	-webkit-transition: all ease 0.3s;
}