/*WEBFONTS
=================================================================================*/

@font-face {
    font-family: 'barrioregular';
    src: url('../assets/fonts/barrio-regular-webfont.eot');
    src: url('../assets/fonts/barrio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/barrio-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/barrio-regular-webfont.woff') format('woff'),
         url('../assets/fonts/barrio-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/barrio-regular-webfont.svg#barrioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}