article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*GENERAL STYLES 
============================================*/

@font-face {
    font-family: 'barrioregular';
    src: url('../assets/fonts/barrio-regular-webfont.eot');
    src: url('../assets/fonts/barrio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/barrio-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/barrio-regular-webfont.woff') format('woff'),
         url('../assets/fonts/barrio-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/barrio-regular-webfont.svg#barrioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #ffffff;
	color:#22313f;
	font-family: 'Lato', sans-serif;
}

header{
	background: #41AAF1;
	height:100vh;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

button{
	border: 4px solid white;
	background: #41AAF1;
	color:#ffffff;
	padding: 10px 15px;
	display: inline-block;
	font-size: 25px;
	font-weight: 300;
	margin-right: 10px;
}

button:hover{
	background: rgba(31, 48, 63, 0.3);
	-webkit-transition: all ease 0.3s;
}

a{
	text-decoration: none;
	color:#ffffff;
}

/*WRAPPER STYLES
=============================================*/

.wrapper{
	max-width:70%;
	margin:0 auto;
	text-align: center;
}


/*HEADING STYLES 
============================================*/

h1{
	text-align: center;
	color:#ffffff;
	font-family: 'barrioregular';
	font-size: 100px;
	margin:0;
	padding:0;
}

i.fa-twitter{
	color:#ffffff;
	-webkit-animation:swing 2s infinite ease-in-out;
}

@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-5deg)}
    50%{-webkit-transform:rotate(10deg)}
    100%{-webkit-transform:rotate(-5deg)}
}

h2.tweetButton{
	font-size: 30px;
	color:#ffffff;
	font-weight: 300;
	letter-spacing: 5px;
	text-align: center;
	line-height: 1.7;
}


i.fa-arrow-circle-down{
	color:#ffffff;
	font-size: 30px;
	padding-left: 10px;
}

/*CONTENT STYLES
=======================================*/
section.content{
	padding-bottom: 50px;
}
h2.docHeading{
	text-align: left;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

h2.docHeading.one{
	font-weight: 400;
	border-bottom: 4px solid #f62459;
	font-size: 50px;
}

span.title{
	text-transform: none;
	font-weight: 900;
	font-size: 75px;
}

span.firstWord{
	font-weight: 400;
}

span.underline{
	text-decoration: underline;
}

.content p{
	font-size: 25px;
	font-weight:300;
	text-align: left;
	line-height: 1.5;
}

.content p a{
	color:#000000;
}

.content p a:hover{
	color:#f62459;
	-webkit-transition: all ease 0.2s;
}

div.code{
	text-align: left;
	background:rgba(134,226,213, 0.2);
	font-family: monospace, sans-serif;
	padding:30px;
	line-height: 2;
}
code.hideTwo,
code.hideThree{
	display:none;
}


h3.html, 
h3.javascript,
h4{
	text-align: left;
	text-transform: uppercase;
	color:#4ecdc4;
	font-weight: 400;
	font-size: 25px;
}

h3.javascript{
	color:#bf55ec;
}

p.remember{
	font-size: 20px;
}

h4{
	color:#e87e04;
}

div.sample{
	display: flex;
	justify-content: space-between;
}
table{
	border: 1px solid black;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
	order: 2;
}
th{
	padding:20px;
	font-size: 20px;
}
td{
	border: 1px solid black;
	padding: 20px;
}

/*FOOTER STYLES
==========================================*/
footer {
	background: #41AAF1;
	padding-bottom: 20px;
}
footer p{
	font-size: 25px;
	font-weight: 100;
	color:#ffffff;
	margin:0;
	padding-top:10px;
}

footer p.design{
	font-size: 20px;
	padding-bottom: 20px;
}

footer a:hover{
	color:#22313f;
	margin:0;
	-webkit-transition: all ease 0.5s;
}

/*MEDIA QUERIES
========================================*/

/* Portrait tablet and small desktops */
@media (max-width: 1050px) {
	.wrapper{
		max-width: 85%;
	}
	code{
		font-size: 15px;	
	}
	div.sample{
		flex-direction:column;
		justify-content:center;
		align-items:left;
	}
	table{
		order:-1;
	}
}

 
/* Landscape phone to portrait tablet */
@media (max-width: 790px) {
	code{
		font-size: 12px;	
	}
	header{
		height:100%;
	}
	h2.tweetButton{
		font-size: 20px;
	}
	button{
		font-size: 15px;
		margin-bottom: 10px;
	}
	i.fa-arrow-circle-down{
		font-size: 15px;
	}
}

/* Landscape phones and down */
@media (max-width: 525px) {
	code.hideOne{
		display:none;
	}
	code.hideTwo{
		display: inline-block;
	}
}


/* Smallest of the Phones */
@media (max-width: 320px) {
	h1{
		font-size: 60px;
	}
	h2.tweetButton{
		font-size: 15px;
	}
	span.title{
		font-size: 40px;
	}
	h2.docHeading{
		font-size: 30px;
	}
	section.content p{
		font-size: 16px;
	}
	code.hideTwo{
		display: none;
	}
	code.hideThree{
		display:inline-block;
	}
	code.shrink{
		font-size: 9px;
	}

}